
<div class="row text-center">

  <div class="col">
    <p style="font-size: 30px">Administrador de fichas</p>
  </div>
</div>
<div class="row">
  <div class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Fecha elegir</span>
    </div>
    <input [(ngModel)]="fechaa" type="date" class="" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>
  <div class="input-group input-group-sm mb-3 col-5">
    <button    class="btn btn-light pull-right" (click)="buscar()">
      <i class="fa fa-check" ></i> Buscar</button>
    </div>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha servicio</th>
        <th scope="col">Tipo de servicio</th>
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arreglo;let indice=index;">
        <td scope="row" >{{item.idservicio}}</td>
        <td>{{item.fechaterminado}}</td>
        <td>{{item.importeTotal | currency}}</td>
        <td>{{(item.tipoServicio!=1)?'AUTOSERVICIO':'POR ENCARGO'}}</td>
        <td style="text-align: center">
          <button class="btn btn-light" (click)="abrir(item,indice)">
            <i class="fa fa-list"></i>Fichas
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="modal fade miclase" id="myModal">
  <div class="modal-dialog modal-lg">
    <form>
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header cabecera">
          <h4 class="modal-title" id="titulo">Agregar fichas al ticket</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Opcion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of productos;let indice=index;">
                      <th scope="row">{{indice+1}}</th>
                      <td>{{item.nombre}}</td>
                      <td>

                        <button class="btn btn-info" (click)="agregarFicha(item)">
                          <i class="fa fa-add"></i> Agregar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <hr/>
            <div style="background: rgb(247, 247, 247)">

              <div style="background: #6ac794;
        color: white;margin: 0%;" class="row">
                <label for="" class="col-12 text-center titulomodal">
                  Productos agregados
                </label>
              </div>

              <div class="row">
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Opción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of productosAgregados;let indice=index;">
                        <th scope="row">{{indice+1}}</th>
                        <td>{{item.nombre}}</td>
                        <td>{{item.cantficha}}</td>
                        <td> <button *ngIf="item.ficha_adicional" class="btn btn-danger" (click)="eliminar(indice);">
                          <i class="fa fa-remove"></i>
                        </button>
                      <label *ngIf="!item.ficha_adicional" for=""><div class="alert alert-warning" role="alert">
                        FICHA REGISTRADA COMO VENTA EN TICKET
                      </div></label>
                      </td>
                      </tr>
                    </tbody>
                  </table>
  
                </div>
              </div>
            </div>
          
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button  data-dismiss="modal"  class="btn btn-success pull-right" (click)="GuardarFichas()">
            <i class="fa fa-check"></i> Guardar</button>
          <button type="button" class="btn" data-dismiss="modal">
            <i class="fa fa-close"></i>Cerrar</button>

        </div>

      </div>
    </form>
  </div>
</div>
