<div class="row text-center">

  <div class="col">
    <p style="font-size: 30px">Detalle de Fichas por Servicio</p>
  </div>
</div>

<div class="cajaventa">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()">

<div class="row" >


  <div class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Bodega</span>
    </div>
    <select formControlName="sucursal" class="form-control form-control text-uppercase"  type="text">
      <option value=1>Matriz</option>
      <option value=2>Sucursal</option>
    </select>
  </div>

  <div class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Tipo de Servicio</span>
    </div>
    <select formControlName="tipo_servicio"  class="form-control form-control text-uppercase"  type="text">
      <option value=1>Autoservicio</option>
      <option value=2>Servicio por Enc</option>
    </select>
  </div>

  <div class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Empleado</span>
    </div>
    <select formControlName="empleado" class="form-control form-control text-uppercase"  type="text">
      <option value=true>Alejandro</option>
      <option value=false>Roberto</option>
    </select>
  </div>

  <div class="input-group input-group-sm mb-4 col-6">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Desde</span>
    </div>
    <input formControlName="desde" type="date" class="form-control form-control"  aria-label="Username" >
  </div>
  
  <div class="input-group input-group-sm mb-4 col-6">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Hasta</span>
    </div>
    <input formControlName="hasta" type="date" class="form-control form-control"  aria-label="Username" >
  </div>
</div>


<hr/>

<div class="row">
  <label for="" class="col-12 text-center titulomodal">
    Opciones
  </label>
</div>

<div class="form-group row">


    <div class="input-group input-group-sm mb-3 col-4">
      <button [disabled]="!myForm.valid"  type="submit"  class="btn btn-success pull-right">
        <i class="fa fa-check"></i> Visualizar</button>
      </div>
    
      <div class="input-group input-group-sm mb-3 col-4">
        <button [disabled]="!myForm.valid"  type="submit"  class="btn btn-success pull-right" (click)="tipoboton=true">
          <i class="fa fa-check"></i> Reporte</button>
        </div>
    
      <div class="input-group input-group-sm mb-3 col-3">
        <button type="button" class="btn btn-warning">Limpiar</button>
      </div>
  
  
  </div>

</form>

</div>
<hr/>
<div class="row">
  <label for="" class="col-12 text-center titulomodal">
    Productos
  </label>
</div>
<div class="row" id="c1" style="height: 100%;">
  <div class="col-13">
    <table    class="table table-striped table-hover table-responsive">
      <thead id="tablaproductos">
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th >IdServicio</th>
          <th>NoServicio</th>
          <th>Usuario</th>
          <th>Tipo Servicio</th>
          <th>Importe</th>
          <th>Cliente</th>
          <th>Ficha 4kg</th>
          <th>Ficha 8kg</th>
          <th>Secadora</th>
          <th style="width: 200px;text-align: center">#</th>
        </tr>
      </thead>
 <!--      <tbody>
        <th>1</th>
        <th>samv</th>
        <th>santiago antonio</th>
        <th>4325</th>
        <th>PZ</th>
        <th>345</th>
        <th>4353</th>
        <th>324</th>
        <th>5</th>
        <th>100</th>
        <td style="text-align: center">
          <button class="btn btn-default" data-toggle="modal" data-target="#myModal" >
            <i class="fa fa-refresh"></i>
          </button>
          <button class="btn btn-danger" >
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tbody> -->
    </table>
    
  </div>
</div>


<div class="row" style="background-color: rgb(37 55 66);color: white;">
  <label for="" class="col-12 text-center titulomodal">
    Resumen Fichas
  </label>
  <hr />
       <div class="row form-group">
        <div class="input-group input-group-sm mb-3 col-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">N°Serv.</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm mb-3 col-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Fichas 4kg</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm mb-3 col-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Fichas 8kg</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm mb-3 col-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Secadora</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
  </div>
</div>

