.titulomodal{
    font-weight: 600;
font-size: medium;
}

.input-group-text{
    background-color:#253742 ;
    color:white;
}
.cabecera{
    background: #008fc5;
    color: white;
}

.custom-control-input:checked~.custom-control-indicator{
    color:white;
    background-color:rgb(26, 219, 84);
    }

    
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      .cajaventa{
        background: #f3f3f3;
        padding: 20px 5px 5px 5px;
      }

      #tablaproductos{
        background: #c7c7c7;
        color: rgb(54, 54, 54);
    
      }

      .seleccionado{
        background: #ff5151!important;
        color: white!important;
    }
    