<div class="row text-center">

  <div class="col">
    <p style="font-size: 30px">Servicio</p>
  </div>
</div>

<div class="cajaventa">
  
<div class="row" >
  <div class="input-group input-group-sm  col-6">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Sucursal actual</span>
    </div>
    <input disabled type="text" class="form-control" value="Colonia reforma" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group input-group-sm  col-6">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Empleado</span>
    </div>
    <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [value]="usuarios.usuario" >
  </div>
</div>
<hr/>

<div class="row">
  <div style="margin-left: 3%;" class="input-group form-check form-check-inline col-4">
    <label class="custom-control custom-checkbox">
      <input [(ngModel)]="clientebool" type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Incluir cliente</span>
</label>
  </div>
  <div class="col-3">
    <label for="" class="col-12 text-center titulomodal">
      Clientes
    </label>
  </div>
</div>
<div class="form-group  row" *ngIf="clientebool">
  <div class="input-group input-group-sm col-12">
    <div for="buscarclientes" class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Datos del cliente</span>
    </div>
    <input #nombrecliente disabled  type="text" class="form-control" placeholder="Nombre y apellido" aria-label="Username" aria-describedby="basic-addon1">
    <input #apellidocliente disabled type="text" class="form-control" placeholder="Dirección" aria-label="Username" aria-describedby="basic-addon1">
    <span class="input-group-btn">
      <button id="buscarclientes" class="btn btn-theme" type="button" (click)="abriClientes();" ><i class="fa fa-search"></i></button>
      </span>
  </div>
</div>

<hr/>
<div class="row">
  <label for="" class="col-12 text-center titulomodal">
    Configuración de venta
  </label>
</div>

<div class="form-group row">
  <div  class="input-group input-group-sm mb-3 col-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">% Descuento</span>
    </div>
    <input disabled  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group input-group-sm mb-3 col-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">No. Servicio</span>
    </div>
    <input disabled type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group input-group-sm mb-3 col-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Fecha</span>
    </div>
    <input disabled  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group input-group-sm mb-3 col-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Turno</span>
    </div>
    <input disabled type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>
<div class="row form-group">
  <div class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Servicio</span>
    </div>
    <select [(ngModel)]="valorservicio" class="form-control form-control text-uppercase"  type="text">
      <option value="true" selected>Autoservicio</option>
      <option value="false">Servicio por engargo</option>
    </select>
  </div>
  <div *ngIf="valorservicio != 'true'" class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Fecha de entrega</span>
    </div>
    <input   type="date" class=""  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div *ngIf="valorservicio != 'true'" class="input-group input-group-sm mb-3 col-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Hora</span>
    </div>
    <input   type="time" class=""  aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>
<div *ngIf="!conventa" class="row form-group">
  <div class="col-12 text-center">
    <button type="button" (click)="generarServicio()" class="btn btn-success">Generar servicio</button>
  </div>
</div>
</div>
<div *ngIf="conventa">
  <hr/>
<div class="row">
  <label for="" class="col-12 text-center titulomodal">
    Productos
  </label>
</div>
<div class="row">
  <div class="col text-right">
    <button type="button" class="btn btn-default" (click)="abrir()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<div class="row" id="c1" style="height: 100%;">
  <div class="col-12">
    <table    class="table table-striped table-hover table-responsive">
      <thead id="tablaproductos">
        <tr>
          <th>#</th>
          <th>Código</th>
          <th >Nombre producto</th>
          <th>Cantidad</th>
          <th>Medida</th>
          <th>Precio unitario</th>
          <th>Importe</th>
          <th>Descuento total</th>
          <th>Importe con descuento</th>
          <th>Importe IEEPS</th>
          <th style="width: 200px;text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of arregloProductos;let indice = index;">
          <td>{{indice+1}}</td>
          <td>{{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <td>1</td>
          <td>{{item.unidadmedida.descripcion}}</td>
          <td>{{item.por_venta}}</td>
          <td>{{item.por_venta+100}}</td>
          <td>10%</td>
          <td>{{item.por_venta}}</td>
          <td>{{item.ieeps}}</td>

          <td style="text-align: center">
            <button  class="btn btn-default" data-toggle="modal" data-target="#myModal" >
              <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-danger" >
              <i class="fa fa-remove"></i>
            </button>
          </td>

        </tr>
        
        
      </tbody>
    </table>
    
  </div>
</div>


<div class="row" style="background-color: rgb(37 55 66);color: white;">
  <label for="" class="col-12 text-center titulomodal">
    Productos
  </label>
  <hr />
  <div class="col-8">
     <div class="col-12">
       <div class="row form-group">
        <div class="input-group input-group-sm mb-3 col-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">No. Productos</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm mb-3 col-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">No. Ticket</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm mb-3 col-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">No. Factura</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm mb-3 col-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">No.Cart.Fact.</span>
          </div>
          <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
       </div>
     </div>
  </div>
  <div class="col-4">
    <div class="input-group input-group-sm mb-3 col-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Desc total</span>
      </div>
      <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group input-group-sm mb-3 col-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Desc total</span>
      </div>
      <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group input-group-sm mb-3 col-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Desc total</span>
      </div>
      <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group input-group-sm mb-3 col-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Desc total</span>
      </div>
      <input  type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
</div>

</div>


<div class="modal fade miclase" style="background: #0000006e;" id="myModalclientees">
  <app-cat-clientes  (eventoFunciones)="recibir($event)"></app-cat-clientes>  
</div>



<div class="modal fade miclase" style="background: #0000006e;" id="myModalProductos">
  <app-cat-productos  (eventoFunciones)="recibirProducto($event)"></app-cat-productos>  
</div>