
<div class="row text-center">

  <div class="col">
    <p style="font-size: 30px">Cátalogo de Clientes</p>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <button type="button" class="btn btn-default" (click)="abrir(undefined)">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dirección</th>
          <th>Ciudad</th>
          <th>C.P.</th>
          <th>Estado</th>
          <th>Fecha Alta</th>
          <th>RFC</th>
          <th>Teléfono</th>

          <th style="width: 200px;text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of arreglo;let indice = index;">
          <td scope="row">{{indice+1}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.direccion}}  </td>
          <td>{{item.ciudad}}  </td>
          <td>{{item.codigopostal}}  </td>
          <td>{{item.estado}}  </td>
          <td>{{item.fechalta}}  </td>
          <td>{{item.rfc}}  </td>
          <td>{{item.telefono}}  </td>

       

          <td style="text-align: center">
            <button class="btn btn-default" data-toggle="modal" data-target="#myModal" (click)="abrir(item)">
              <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-danger" (click)="eliminar(item.id);">
              <i class="fa fa-remove"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <div *ngIf="arreglo.length == 0" class="alert alert-danger text-center" role="alert">
      <strong></strong> Sin registros en las tablas
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <form  [formGroup]="myForm" (ngSubmit)="enviarformulario()">
      <div class="modal-content">

        <!-- Modal Header -->
        <div  class="modal-header cabecera">
          <h4 class="modal-title" id="titulo"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <div class="row">
            <label for="" class="col-12 text-center titulomodal">
              Datos del cliente
            </label>
          </div>
          <hr/>
          <div class="form-group row">
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
              </div>
              <input  formControlName="id" type="hidden" >
              <input formControlName="nombre" type="text" class="form-control" placeholder="Ingresar nombre" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Apellido</span>
              </div>
              <input formControlName="apellido" type="text" class="form-control" placeholder="Ingresar apellidos" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row form-group">
            <div class="input-group input-group-sm mb-3 col-12">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Dirección</span>
              </div>
              <input formControlName="direccion" type="text" class="form-control" placeholder="Ingresar dirección" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row form-group">
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">País</span>
              </div>
              <input formControlName="pais" type="text" class="form-control" placeholder="Ingresar estado" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Estado</span>
              </div>
              <input formControlName="estado" type="text" class="form-control" placeholder="Ingresar estado" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Ciudad</span>
              </div>
              <input formControlName="ciudad" type="text" class="form-control" placeholder="Ingresar ciudad" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Codigo P.</span>
              </div>
              <input formControlName="codigopostal" type="text" class="form-control" placeholder="Ingresar CP" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row form-group">
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">RFC</span>
              </div>
              <input formControlName="rfc" type="text" class="form-control" placeholder="Ingresar RFC" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Teléfono</span>
              </div>
              <input formControlName="telefono" type="text" class="form-control" placeholder="Ingresar teléfono" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row form-group">
            <div class="input-group input-group-sm mb-3 col-12">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Observ.</span>
              </div>
              <input formControlName="observaciones" type="text" class="form-control" placeholder="Ingresar teléfono" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button [disabled]="!myForm.valid"  type="submit"  class="btn btn-success pull-right">
            <i class="fa fa-check"></i> Guardar</button>
          <button type="button" class="btn" data-dismiss="modal">
            <i class="fa fa-close"></i>Cerrar</button>

        </div>

      </div>
    </form>
  </div>
</div>


